---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import CourseCard from "../components/ui/CourseCard.astro";
import Divider from "../components/ui/Divider.astro";
import ListItem from "../components/ui/ListItem.astro";

// Asset Imports
import apCspThumbnail from "../assets/courses/ap-csp/img/ap-csp-thumbnail.svg";
import apCyberThumbnail from "../assets/courses/ap-cyber/img/ap-cyber-thumbnail.svg";
import foceThumbnail from "../assets/courses/foce/img/foce-thumbnail.svg";
import gameDesignThumbnail from "../assets/courses/game-design/img/game-design-thumbnail.svg";
import getTheEdgeThumbnail from "../assets/courses/get-the-edge/img/get-the-edge-thumbnail.svg";
import rubyProgrammingThumbnail from "../assets/courses/ruby-programming/img/ruby-programming-thumbnail.svg";
import techEdElectronicsThumbnail from "../assets/courses/tech-ed-electronics/img/tech-ed-electronics-thumbnail.svg";
import techEdGameDesignThumbnail from "../assets/courses/tech-ed-game-design/img/tech-ed-game-design-thumbnail.svg";
import SkynestLogo from "../assets/skynest-emblem-green.svg";
---

<Layout>
  <!-- Hero Unit -->
  <div class="bg-sn-darker mb-3 bottom-shadow">
    <canvas id="matrix" style="position: absolute;"></canvas>
    <h1 class="text-center text-eds-green pt-5 animation-overlay">
      <span class="bg-black p-2 d-inline-block" style="--bs-bg-opacity: .75;"
        >ST EDWARD HIGH SCHOOL</span
      >
    </h1>
    <h4 class="text-center text-eds-gold animation-overlay">
      <span class="bg-black p-2 d-inline-block" style="--bs-bg-opacity: .75;"
        >ENGINEERING AND COMPUTER SCIENCE</span
      >
    </h4>
    <SkynestLogo
      id="skynestLogo"
      class="d-block mx-auto img-fluid animation-overlay spinning-logo"
      width={"32rem"}
    />
  </div>

  <section class="container mb-3 p-1">
    <!-- Course Content -->
    <h3 id="course-content" class="text-center py-3">Course Content</h3>
    <div class="row mb-3">
      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
        <CourseCard link="#" title="Fundamentals of Computer Engineering">
          <Image
            src={foceThumbnail}
            alt="Computer Engineering Thumbnail"
            class="img-fluid"
          />
        </CourseCard>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
        <CourseCard link="#" title="Fundamentals of Game Design">
          <Image
            src={gameDesignThumbnail}
            alt="Game Design Thumbnail"
            class="img-fluid"
          />
        </CourseCard>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
        <CourseCard link="#" title="AP Computer Science Principles">
          <Image
            src={apCspThumbnail}
            alt="AP CSP Thumbnail"
            class="img-fluid"
          />
        </CourseCard>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
        <CourseCard link="/courses/ap-cyber/" title="AP Cybersecurity">
          <Image
            src={apCyberThumbnail}
            alt="AP Cybersecurity Thumbnail"
            class="img-fluid"
          />
        </CourseCard>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
        <CourseCard link="/courses/tech-ed-electronics/" title="Tech Edventure Electronics">
          <Image
            src={techEdElectronicsThumbnail}
            alt="Tech Edventure Electronics Thumbnail"
            class="img-fluid"
          />
        </CourseCard>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
        <CourseCard link="#" title="Tech Edventure Game Design">
          <Image
            src={techEdGameDesignThumbnail}
            alt="Tech Edventure Game Design Thumbnail"
            class="img-fluid"
          />
        </CourseCard>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
        <CourseCard link="/courses/get-the-edge/" title="Get the Edge">
          <Image
            src={getTheEdgeThumbnail}
            alt="Get the Edge Thumbnail"
            class="img-fluid"
          />
        </CourseCard>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
        <CourseCard link="/courses/ruby-programming/" title="Ruby Programming Fundamentals">
          <Image
            src={rubyProgrammingThumbnail}
            alt="Ruby Programming Thumbnail"
            class="img-fluid"
          />
        </CourseCard>
      </div>
    </div>

    <Divider variant="9" />

    <!-- Links/Utilities -->
    <h3 class="text-center my-5">Links</h3>

    <div class="row mb-3 justify-content-center">
      <div class="col-sm-12 col-md-5">
        <h5>Programming Languages</h5>

        <ul>
          <ListItem>
            <a href="https://deno.com/" target="_blank">JavaScript (Deno)</a>
          </ListItem>
          <ListItem>
            <a href="https://nodejs.org/" target="_blank"
              >JavaScript (Node.js)</a
            >
          </ListItem>
          <ListItem>
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference" target="_blank"
              >JavaScript Language Reference</a
            >
          </ListItem>
          <ListItem>
            <a href="https://www.python.org/" target="_blank">Python Homepage</a
            >
          </ListItem>
          <ListItem>
            <a
              href="https://docs.python.org/3/reference/index.html"
              target="_blank">Python Language Reference</a
            >
          </ListItem>
          <ListItem>
            <a href="https://www.ruby-lang.org/en/" target="_blank"
              >Ruby Homepage</a
            >
          </ListItem>
          <ListItem>
            <a href="https://docs.ruby-lang.org/en/4.0/" target="_blank"
              >Ruby Language Reference</a
            >
          </ListItem>
        </ul>

        <h5>Code Editors</h5>
        <ul>
          <ListItem>
            <a href="https://www.arduino.cc/en/software/" target="_blank"
              >Arduino IDE</a
            >
          </ListItem>
          <ListItem>
            <a href="https://www.juicemind.com/curriculum" target="_blank"
              >Juicemind</a
            >
          </ListItem>
          <ListItem>
            <a href="https://www.arduino.cc/en/software/" target="_blank"
              >Thonny</a
            >
          </ListItem>
          <ListItem>
            <a href="https://visualstudio.microsoft.com" target="_blank">
              Visual Studio 2026 (Purple)</a
            >
          </ListItem>
          <ListItem>
            <a href="https://code.visualstudio.com/" target="_blank"
              >Visual Studio Code (Blue)</a
            >
          </ListItem>
        </ul>
      </div>
      <div class="col-sm-12 col-md-5">
        <h5>Game Development</h5>

        <ul>
          <ListItem>
            <a href="https://godotengine.org" target="_blank">Godot</a>
          </ListItem>
          <ListItem>
            <a
              href="https://docs.godotengine.org/en/stable/tutorials/scripting/gdscript/gdscript_basics.html"
              target="_blank">GDScript Language Reference</a
            >
          </ListItem>
          <ListItem>
            <a href="https://libresprite.github.io/" target="_blank"
              >LibreSprite</a
            >
          </ListItem>
          <ListItem>
            <a href="https://unity.com" target="_blank">Unity</a>
          </ListItem>
        </ul>

        <h5>Development Boards</h5>

        <ul>
          <ListItem>
            <a href="https://www.arduino.cc" target="_blank">Arduino</a>
          </ListItem>
          <ListItem>
            <a href="https://www.raspberrypi.com" target="_blank"
              >Raspberry Pi</a
            >
          </ListItem>
          <ListItem>
            <a
              href="https://www.sparkfun.com/sparkfun-iot-redboard-rp2350.html"
              target="_blank">SparkFun IoT RedBoard RP2350</a
            >
          </ListItem>
        </ul>
        <h5>Libraries/Frameworks</h5>
        <ul>
          <ListItem>
            <a href="https://p5js.org" target="_blank">P5.js</a>
          </ListItem>
          <ListItem>
            <a href="https://www.raylib.com" target="_blank">Raylib</a>
          </ListItem>
        </ul>
      </div>
    </div>
  </section>
</Layout>

<!-- Matrix Animation -->
<script>
  (() => {
    const FONT_FAMILY = getComputedStyle(
      document.documentElement,
    ).getPropertyValue("--bs-font-monospace");
    const FONT_SIZE = 16;
    const FONT_STYLE = FONT_SIZE + "px " + FONT_FAMILY;
    const BACKGROUND_COLOR = "rgb(5, 0, 20)";
    const FADE_COLOR = "rgba(5, 0, 20, 0.1)";
    const CHARS = "0123456789ABCDEF";
    const canvas = document.querySelector<HTMLCanvasElement>("#matrix");

    if (!canvas?.getContext) return;
    const ctx = canvas.getContext("2d");
    if (!ctx) return;

    let columns = canvas.width / FONT_SIZE;
    let coords: number[] = [];

    const initWindow = (canvas: HTMLCanvasElement) => {
      canvas.width = canvas.parentElement?.clientWidth ?? canvas.width;
      canvas.height = canvas.parentElement?.clientHeight ?? canvas.height;
      columns = canvas.width / FONT_SIZE;
      ctx.fillStyle = BACKGROUND_COLOR;
      ctx.fillRect(0, 0, canvas.width, canvas.height);
      ctx.font = FONT_STYLE;

      for (let x = 0; x < columns; x++) {
        coords[x] = Math.trunc(canvas.height);
      }
    };

    initWindow(canvas);

    const draw = () => {
      // Reinitialize window if canvas size changes
      if (canvas.width !== canvas.parentElement?.clientWidth) {
        initWindow(canvas);
      }

      // Fade each frame
      ctx.fillStyle = FADE_COLOR;
      ctx.fillRect(0, 0, canvas.width, canvas.height);
      ctx.fillStyle =
        localStorage.getItem("color-theme") ?? "rgb(27, 212, 215)";

      for (let i = 0; i < coords.length; i++) {
        const text = CHARS[Math.floor(Math.random() * CHARS.length)];
        ctx.fillText(text, i * FONT_SIZE, coords[i] * FONT_SIZE);

        // Clear faded column cells
        ctx.fillStyle = "rgb(5, 0, 20)";
        ctx.fillRect(
          i * FONT_SIZE,
          coords[i] * FONT_SIZE + -FONT_SIZE * 24,
          FONT_SIZE,
          FONT_SIZE,
        );
        ctx.fillStyle =
          localStorage.getItem("color-theme") ?? "rgb(27, 212, 215)";

        // Reset Y coordinate if exceeds bottom
        if (coords[i] * FONT_SIZE > canvas.height && Math.random() > 0.95) {
          coords[i] = 0;
        }

        coords[i]++;
      }
    };

    setInterval(draw, 50);
  })();
</script>

<!-- Spinning Skynest Logo -->
<style>
  @keyframes spinningLogo {
    0% {
      transform: rotateY(0deg);
    }

    100% {
      transform: rotateY(360deg);
    }
  }

  .spinning-logo {
    animation: spinningLogo 20s linear infinite;
  }
</style>
