---
import Presentation from "../../components/Presentation.astro";
import Divider from "../../components/ui/Divider.astro";
import ListItem from "../../components/ui/ListItem.astro";
import Layout from "../../layouts/Layout.astro";
import { Code } from "astro-expressive-code/components";
import { Code as AstroCode } from "astro:components";
import { Image } from "astro:assets";

//#region CodeSnippets
const Figure1 = `
let grade = 95;

// Curly braces omitted for brevity
if (grade >= 90)
    console.log("A");
if (grade >= 80)
    console.log("B");
if (grade >= 70)
    console.log("C");
if (grade >= 60)
    console.log("D");
if (grade <= 60)
    console.log("F");
`;
const Figure2 = `
let grade = parseInt(prompt("Enter grade:"));

if (grade > 60) {
    console.log("Pass!");
}
else {
    console.log("Fail!");
}
`;
const Figure3 = `
Enter grade: 45 [Enter]
Fail!
`;
const Figure4 = `
Enter grade: 78 [Enter]
Pass!
`;
const Figure5 = `
let password = prompt("Enter password:");
let secret = "secret123";

if (password == secret) {
    console.log("Access granted.");
}
else {
    console.log("Access denied.");
}
`;
const Figure6 = `
Enter password: secret123 [Enter]
Access granted.
`;
const Figure7 = `
Enter password: secretpassword [Enter]
Access denied.
`;
const Figure8 = `
let grade = parseInt(prompt("Enter grade:"));

// braces ommitted for brevity
if (grade >= 90)
    console.log("A");
else if (grade >= 80)
    console.log("B");
else if (grade >= 70)
    console.log("C");
else if (grade >= 60)
    console.log("D");
else
    console.log("F");
`;
const Figure9 = `
Enter grade: 86 [Enter]
B
`;
const Figure10 = `
Enter grade: 49 [Enter]
F
`;
const Task1 = `
console.log("--- Chinese Zodiac Calendar ---");

let birthYear = parseInt(prompt("Enter your birth year: "));
let zodiacNumber = birthYear % 12;
let zodiacAnimal; // Assign animal based on birth year

if (zodiacNumber == 0) {
  zodiacAnimal = "monkey";
}
else if (zodiacNumber == 1) {
  zodiacAnimal = "rooster";
}
else if (zodiacNumber == 2) {
  zodiacAnimal = "dog";
}
else if (zodiacNumber == 3) {
  zodiacAnimal = "pig";
}
else if (zodiacNumber == 4) {
  zodiacAnimal = "rat";
}
else if (zodiacNumber == 5) {
  zodiacAnimal = "ox";
}
else if (zodiacNumber == 6) {
  zodiacAnimal = "tiger";
}
else if (zodiacNumber == 7) {
  zodiacAnimal = "rabbit";
}
else if (zodiacNumber == 8) {
  zodiacAnimal = "dragon";
}
else if (zodiacNumber == 9) {
  zodiacAnimal = "snake";
}
else if (zodiacNumber == 10) {
  zodiacAnimal = "horse";
}
else if (zodiacNumber == 11) {
  zodiacAnimal = "sheep";
}
else {
  // Exit if input was invalid (NaN)
  console.log("Something went wrong. Exiting.");
  Deno.exit();
}

console.log(\`\\nBirth year: \${birthYear} - You are the year of the...\${zodiacAnimal}.\\n\`);

alert("Press enter to continue...");
//
`;
const Task2 = `
console.log("--- Chinese Zodiac Calendar ---");

let birthYear = parseInt(prompt("Enter your birth year: "));
let zodiacNumber = birthYear % 12;
let zodiacAnimal; // Assign animal based on birth year

if (zodiacNumber == 0) {
  zodiacAnimal = "monkey";
}
else if (zodiacNumber == 1) {
  zodiacAnimal = "rooster";
}
else if (zodiacNumber == 2) {
  zodiacAnimal = "dog";
}
else if (zodiacNumber == 3) {
  zodiacAnimal = "pig";
}
else if (zodiacNumber == 4) {
  zodiacAnimal = "rat";
}
else if (zodiacNumber == 5) {
  zodiacAnimal = "ox";
}
else if (zodiacNumber == 6) {
  zodiacAnimal = "tiger";
}
else if (zodiacNumber == 7) {
  zodiacAnimal = "rabbit";
}
else if (zodiacNumber == 8) {
  zodiacAnimal = "dragon";
}
else if (zodiacNumber == 9) {
  zodiacAnimal = "snake";
}
else if (zodiacNumber == 10) {
  zodiacAnimal = "horse";
}
else if (zodiacNumber == 11) {
  zodiacAnimal = "sheep";
}
else {
  // Exit if input was invalid (NaN)
  console.log("Something went wrong. Exiting.");
  Deno.exit();
}

console.log(\`\\nBirth year: \${birthYear} - You are the year of the...\${zodiacAnimal}.\\n\`);

alert("Press enter to continue...");

// -----------------------------------------------------------------------------

console.log("\\n--- Lottery Game ---\\n");
console.log("Rules: Pick a two lottery numbers ranging from 0 to 9");
console.log("Match two numbers and win BIG!");
console.log("Match one number in order and win SMALL!\\n");

let lottoNum1 = parseInt(prompt("Enter your 1st lottery number (0 to 9): "));
let lottoNum2 = parseInt(prompt("Enter your 2nd lottery number (0 to 9): "));
let winningNum1 = Math.floor(Math.random() * 10);
let winningNum2 = Math.floor(Math.random() * 10);

// Exit the program if either lotto number is out of range
if (lottoNum1 < 0 || lottoNum1 > 9 || lottoNum2 < 0 || lottoNum2 > 9) {
  console.log("Error: Your lotto numbers are invalid. Exiting");
  Deno.exit();
}

console.log(lottoNum1)
console.log(\`The winning numbers are \${winningNum1} and \${winningNum2}!\`);

if (lottoNum1 == winningNum1 && lottoNum2 == winningNum2) {
  console.log("You win BIG!");
}
else if (lottoNum1 == winningNum1 || lottoNum2 == winningNum2) {
  console.log("You win SMALL!");
}
else {
  console.log("You lose! Better luck next time!");
}
//
`;
const SampleOutput = `
--- Chinese Zodiac Calendar ---
Enter your birth year:  1990

Birth year: 1990 - You are the year of the...horse.

Press enter to continue... [Enter] 

--- Lottery Game ---

Rules: Pick a two lottery numbers ranging from 0 to 9
Match two numbers and win BIG!
Match one number in order and win SMALL!

Enter your 1st lottery number (0 to 9):  2
Enter your 2nd lottery number (0 to 9):  4
The winning numbers are 2 and 6!
You win SMALL!
`;
//#endregion
---

<Layout>
  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10">
        <a href="/js-programming/" class="btn btn-sm btn-outline-light mb-3">
          <i class="si-arrow-left"></i> Back
        </a>

        <h1>Activity 2.3 Branching with If/Else</h1>
        <Divider variant="8" classes="mb-4" />

        <!-- Introduction -->
        <h2>Introduction</h2>

        <Presentation>
          <section>
            <h3>Activity 2.3</h3>
            <h4 class="text-skynest-theme">Branching with If/Else</h4>
          </section>
          <section>
            <h4>Topics</h4>
            <ul>
              <li>Mutually Exclusive Conditions</li>
              <li>
                Branching with <AstroCode
                  code="else if"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                /> and <AstroCode
                  code="else"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                /> statements
              </li>
            </ul>
          </section>
          <section data-auto-animate>
            <h4>Mutually Exclusive Conditions</h4>
            <p>
              The last activity introduced us to the idea of controlling the
              flow of an application with if statements.
            </p>
            <p class="fragment">
              Each program had multiple if statements that execute if their
              conditions were true.
            </p>
            <p class="fragment">
              But what if you only want to execute one block of code out of a
              set of possibilities?
            </p>
          </section>
          <section data-auto-animate>
            <h4>Mutually Exclusive Conditions</h4>
            <p class="fragment">This code may output multiple letter grades.</p>
            <Code code={Figure1} lang="javascript" class="text-start" />
          </section>
          <section data-auto-animate>
            <h4>Mutually Exclusive Conditions</h4>
            <p>A grade of 95 would outout <b>A, B, C, and D</b>.</p>
            <Code code={Figure1} lang="javascript" class="text-start" />
          </section>
          <section data-auto-animate>
            <h4>Mutually Exclusive Conditions</h4>
            <p>
              Mutually exclusive conditions ensure only one selection is chosen
              from a list of possibilities.
            </p>
            <p class="fragment">
              These types of statements are also known as <b
                >branching statements</b
              >.
            </p>
          </section>
          <section>
            <h4>
              Branching with <AstroCode
                code="else if"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              /> and <AstroCode
                code="else"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              /> Statements
            </h4>
            <p>
              The <AstroCode
                code="if"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              />, <AstroCode
                code="else if"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              />, <AstroCode
                code="else"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              /> structure is a way to control the flow of a program by executing
              exactly one block of code from a series of options.
            </p>
            <p class="fragment">
              It's used to handle mutually exclusive conditions, where only one
              outcome is possible.
            </p>
          </section>
          <section>
            <h4>
              Components of an <AstroCode
                code="if"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              />, <AstroCode
                code="else if"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              />, <AstroCode
                code="else"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              /> structure
            </h4>
            <ul>
              <li>
                <AstroCode
                  code="if"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                />: The first condition in the chain that is checked. You must
                always start with an <AstroCode
                  code="if"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                /> statement.
              </li>
              <li class="fragment">
                <AstroCode
                  code="else if"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                />: A condition that is only checked if all preceding <AstroCode
                  code="if"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                /> or
                <AstroCode
                  code="else if"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                /> statements were false. You can have multiple <AstroCode
                  code="else if"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                />
                statements.
              </li>
              <li class="fragment">
                <AstroCode
                  code="else"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                />: An optional "catch-all" or "fallback" block that runs only
                if all preceding <AstroCode
                  code="if"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                /> and <AstroCode
                  code="else if"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                /> conditions were false.
              </li>
            </ul>
          </section>
          <section data-auto-animate>
            <h4>
              <AstroCode
                code="else"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              /> Statements
            </h4>
            <h5>Simple Pass/Fail Checker</h5>
            <Code code={Figure2} lang="javascript" class="text-start mb-3" />
            <Code code={Figure3} lang="txt" class="fragment text-start mb-3" />
            <Code code={Figure4} lang="txt" class="fragment text-start mb-3" />
          </section>
          <section data-auto-animate>
            <h4>
              <AstroCode
                code="else"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              /> Statements
            </h4>
            <h5>Simple Login Prompt</h5>
            <Code code={Figure5} lang="javascript" class="text-start mb-3" />
            <Code code={Figure6} lang="txt" class="fragment text-start mb-3" />
            <Code code={Figure7} lang="txt" class="fragment text-start mb-3" />
          </section>
          <section data-auto-animate data-auto-animate-restart>
            <h4>
              <AstroCode
                code="else"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              /> Statements
            </h4>
            <h5>Corrected Letter Grade Program</h5>
            <Code code={Figure8} lang="javascript" class="text-start mb-3" />
            <Code code={Figure9} lang="txt" class="fragment text-start mb-3" />
          </section>
          <section data-auto-animate>
            <h4>
              <AstroCode
                code="else"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              /> Statements
            </h4>
            <h5>Corrected Letter Grade Program</h5>
            <Code code={Figure8} lang="javascript" class="text-start mb-3" />
            <Code code={Figure10} lang="txt" class="text-start mb-3" />
          </section>
          <section data-auto-animate data-auto-animate-restart>
            <h4>Key Terms</h4>
            <dl>
              <dt>Branching Statements</dt>
              <dd>
                Statements that allow a program to follow one of several
                possible paths of execution based on a condition. The <AstroCode
                  code="if, else if, else"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                /> structure is a type of branching statement.
              </dd>
              <dt>
                <AstroCode
                  code="else if"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                />
              </dt>
              <dd>
                A keyword that introduces an additional condition. The <AstroCode
                  code="else if"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                />
                block is only checked and executed if the preceding if or else if
                statements were all false.
              </dd>
            </dl>
          </section>
          <section data-auto-animate>
            <h4>Key Terms</h4>
            <dl>
              <dt>
                <AstroCode
                  code="else"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                />
              </dt>
              <dd>
                A keyword that introduces a final, optional block of code. The
                else block acts as a "catch-all" and will execute if all
                preceding <AstroCode
                  code="if"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                /> and <AstroCode
                  code="else if"
                  lang="javascript"
                  inline
                  theme="material-theme-ocean"
                /> conditions were false.
              </dd>
            </dl>
          </section>
        </Presentation>

        <section id="objectives">
          <h3>Objectives</h3>
          <ul>
            <ListItem
              >Using <AstroCode
                code="if"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              />, <AstroCode
                code="else if"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              />, and <AstroCode
                code="else"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              /> statements to create mutually exclusive conditions.</ListItem
            >
          </ul>
        </section>

        <Divider variant="8" classes="mb-4" />

        <section id="activity-tasks">
          <h2>Activity Tasks</h2>
          <ul>
            <ListItem variant="2"
              >Create a new project named <span class="text-skynest-theme"
                >2-3-branching-if-else.js</span
              >.</ListItem
            >
            <ListItem variant="2">Complete each task individually.</ListItem>
          </ul>

          <!-- Task 1 -->
          <h3>
            <span class="text-skynest-theme">Task 1</span>: Chinese Zodiac
            Calendar
          </h3>
          <ul>
            <ListItem
              >Each birth year maps to one of twelve zodiac animals in a
              repeating cycle. To find the corresponding animal, use the formula <AstroCode
                code="birthYear % 12"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              />, which gives you a remainder between 0 and 11.
            </ListItem>
            <ListItem
              ><b>Tip: </b>Once you've written you first <AstroCode
                code="else if"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              /> copy and paste it to speed things up, just tweak the values as needed.</ListItem
            >
          </ul>
          <Code
            code={Task1}
            frame="code"
            lang="javascript"
            showLineNumbers
            title="2-3-branching-if-else.js"
            mark={{ label: "Stop and run your code", range: "52" }}
          />

          <hr class="my-4" />

          <!-- Task 2 -->
          <h3>
            <span class="text-skynest-theme">Task 2</span>: Simple Lottery Game
          </h3>
          <Code
            code={Task2}
            frame="code"
            lang="javascript"
            showLineNumbers
            title="2-3-branching-if-else.js"
            ins={{ range: "52-82" }}
            mark={{ label: "Stop and run your code", range: "83" }}
          />

          <hr class="my-4" />

          <!-- Task 3 -->
          <h3>
            <span class="text-skynest-theme">Task 3</span>: Bonus - Fix Lotto
            Number Check
          </h3>
          <ul>
            <ListItem variant="2"
              >Submitting empty input for each lotto number will still allow the
              game to proceed, since each value evaluates to <AstroCode
                code="NaN"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              />.
            </ListItem>
            <ListItem variant="2"
              >Modify the condition by adding two more logical OR expressions to
              check whether either lotto number is <AstroCode
                code="NaN"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              />.
            </ListItem>
          </ul>
        </section>

        <Divider variant="8" classes="my-4" />

        <section id="sample-output">
          <h2>Sample Output</h2>

          <p>
            Your program output should something similar to the sample output
            below.
          </p>

          <Code
            code={SampleOutput}
            frame="terminal"
            lang="txt"
            showLineNumbers={false}
            title="Sample Output"
          />
        </section>

        <Divider variant="8" classes="my-4" />

        <section id="reflection">
          <h2>Reflection Questions</h2>

          <p>
            You may write your reflection answers as comments at the bottom of
            your code.
          </p>

          <ol>
            <li>
              How does using <AstroCode
                code="if, else if, else"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              /> change the behavior of the program compared to using multiple, separate
              if statements? Describe a scenario where a separate <AstroCode
                code="if"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              /> statement would be appropriate.
            </li>
            <li>
              In the Chinese Zodiac program, the <AstroCode
                code="else"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              /> block handles the case where the input is invalid. How does this
              demonstrate the role of the <AstroCode
                code="else"
                lang="javascript"
                inline
                theme="material-theme-ocean"
              /> statement as a "catch-all" or "fallback" in your code?
            </li>
          </ol>
        </section>

        <Divider variant="8" classes="my-4" />

        <section id="submission">
          <h2>Submission</h2>

          <p>
            Submit your activity and reflection answers to the appropriate
            dropbox.
          </p>

          <h1 class="text-center mt-5 text-skynest-theme border border-primary">
            Activity Complete
          </h1>
        </section>
      </div>
    </div>
  </div>
</Layout>
